---
layout: page
title: Liên hệ
permalink: /contact/
image: '/images/banner.jpg'
---
<br>Fanpage: https://www.facebook.com/itmobrain</br>Email: itmobrain@gmail.com</p>
<div class="form-box">
  <div class="contact-head">
    {% if site.contact.description %}
      <p class="page-description">{{site.contact.description}}</p>
    {% endif %}
  </div>
  <form class="form" action="{% if site.data.settings.contact.email %}https://formspree.io/{{site.data.settings.contact.email}}{% else %}#{% endif %}" method="POST">
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-name">이름</label>
      <input class="form__input" id="form-name" type="text" name="name" placeholder="Họ và tên" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-email">이메일 주소</label>
      <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Địa chỉ email" required>
    </div>
    <div class="form__group">
      <label class="form__label screen-reader-text" for="form-text">내용을 입력해주세요</label>
      <textarea class="form__input" id="form-text" name="text" rows="10" placeholder="Tin nhắn" required></textarea>
    </div>
    <div class="form__group">
      <button class="button button--primary" type="submit">Submit</button>
    </div>
  </form>
</div>